<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>主页面</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap-5.3.3/css/bootstrap.css">
    <script src="../static/plugins/bootstrap-5.3.3/js/bootstrap.js"></script>

</head>

<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">实验5</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">主页</a></li>
                    <li><a href="/calendar">日历</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div style="height:100px"></div>
        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="../static/img/rili.jpg" onclick=window.open('rili.html') style="max-height: 200px;">
                    <div class="caption">
                        <h3>日历</h3>
                        <p>功能：日历查询</p>
                        <p>日期: 2022-09-25 | 王家辉</p>
                        <p>
                            <a href="rili.html" class="btn btn-danger" role="button">进入系统</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>