$def with(yearWeb,monthWeb,dataWeb)

<html lang="en">

<head>

   <meta charset="utf-8">
   <title>Bootstrap 实例 - 基本表单</title>
   <link rel="stylesheet" href="../static/plugins/bootstrap-5.3.3/css/bootstrap.css">
   <script src="../static/plugins/bootstrap-5.3.3/js/bootstrap.js"></script>

</head>

<body>

   <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand" href="#">实验5</a>
         </div>
         <div>
            <ul class="nav navbar-nav">
               <li><a href="/">主页</a></li>
               <li class="active"><a href="/calendar">日历</a></li>
            </ul>
         </div>
      </div>
   </nav>

   <div style="height:100px"></div>
   <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
         <div class="row">
            <form action="" method="post" enctype="multipart/form-data">
               <div class="col-md-5">
                  <h3>年份</h3><label>
                  <input type="text" class="form-control" style="font-size:40px;height:60px"
                         name="yearInput" value="$:yearWeb"/>
               </label>
               </div>
               <div class="col-md-5">
                  <h3>月份</h3><label>
                  <input type="text" class="form-control" style="font-size:40px;height:60px"
                         name="monthInput" value="$:monthWeb"/>
               </label>
               </div>
               <div class="col-md-2">
                  <h3>&nbsp;</h3>
                  <button type="submit" class="btn btn-danger" style="width:100%;height:60px">查询</button>
               </div>
            </form>
         </div>
         <div style="height:100px"></div>
         <div class="row">
            <pre style="font-size:20px">$:dataWeb</pre>
         </div>
      </div>
   </div>

</body>

</html>